.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6, .productostitle, .promotitle {
  text-align: center;
  font-family: "Aboreto";
}

.templateformulario {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  margin: 50px;
  padding: 25px;
  background-color: #Ae675b;
  color: #BF5D65;
}

.parallax {
  background-image: url(../img/backgroundpage.png);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnlaterales {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  gap: 10px;
  position: fixed;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .btnlaterales {
    z-index: 100;
    top: 3%;
  }
}

.btnwhatsapp {
  color: #BF5D65;
  transition: all 5s ease-in-out;
}
.btnwhatsapp:hover {
  width: 5%;
  color: #BF5D65;
}
.btnwhatsapp a {
  color: #BF5D65;
}

.btninstagram {
  color: #BF5D65;
  transition: all 0.4s ease-in-out;
}
.btninstagram:hover {
  width: 5%;
  color: #364255;
}
.btninstagram a {
  color: #BF5D65;
}

.btnfacebook {
  color: #BF5D65;
  transition: all 0.4s;
}
.btnfacebook:hover {
  width: 5%;
  color: #364255;
}
.btnfacebook a {
  color: #BF5D65;
}

@media only screen and (max-width: 480px) {
  header {
    text-align: center;
    margin-inline-start: auto;
  }
}

@media only screen and (max-width: 480px) {
  .logonav {
    margin-inline-start: auto;
  }
}

.logo {
  width: 400px;
}

.listanav {
  list-style-type: none;
  border: 10px;
  font-size: 20px;
  font-family: "Aboreto", cursive;
  color: #EF7978;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 20px #A96DA6, 0 0 1em #fcfcda, 0 0 0.2em #fcfcda;
}

.nav-link {
  color: #EF7978;
  text-decoration-color: #BF5D65;
}
.nav-link:hover {
  color: #BF5D65;
  background: rgba(217, 191, 170, 0.1);
  border-radius: 30px;
}

.botonturnos {
  margin-top: 20px;
}

.turnosanimacion {
  background-color: #EF7978;
  border-color: #EF7978;
  font-family: "Aboreto", cursive;
}
.turnosanimacion:hover {
  background-color: #fcfcda;
  border-color: #fcfcda;
  color: #EF7978 !important;
  box-shadow: 1px 1px 20px 11px #d8ccd8;
  transition: all 0.2s ease;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 10px;
}

.turnos {
  color: #364255;
  font-weight: bold;
  text-decoration: none;
}
.turnos:hover {
  color: #EF7978;
}

footer {
  display: flex;
  justify-content: center;
  background: rgba(71, 0, 0, 0.05);
  @import url("https://css.gg/time.css");
}
@media only screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #a68666;
  margin: 10px;
  padding-top: 80px;
  font-weight: bolder;
}
footer ul li {
  display: flex;
  flex-direction: column;
  text-decoration: overline;
  gap: 10px;
  align-items: flex-start;
  padding: 10px;
  text-shadow: 0 0 black;
}
footer iframe {
  padding-top: 30px;
  height: 300px;
  width: 400px;
}
@media only screen and (max-width: 480px) {
  footer iframe {
    height: 300px;
    width: 300px;
    padding: 30px 10px;
  }
}
footer .gg-time::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  left: 5px;
}
footer .gg-phone::before {
  width: 20px;
  height: 20px;
  border: 6px double;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  bottom: 2px;
  left: 2px;
}
footer .gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
}

* .carousel-caption {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.section3index {
  margin-top: 30px;
}

.cardpromo {
  background-color: #e6e4d3 !important;
}

.cardproductos {
  background-color: #e6e4d3 !important;
}

.promotitle {
  color: #364255;
  font-weight: bolder;
}

.productostitle {
  color: #364255;
  font-weight: bolder;
}

.promotext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7494a2;
}

.productostext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7494a2;
}

.btnproductos {
  color: #7494a2 !important;
  background-color: #fcfcda;
  border-color: #fcfcda !important;
}
.btnproductos:hover {
  background-color: #EF7978;
  color: #fcfcda !important;
}

.btnpromo {
  color: #7494a2 !important;
  background-color: #fcfcda;
  border-color: #fcfcda !important;
}
.btnpromo:hover {
  background-color: #EF7978;
  color: #fcfcda !important;
}

.SobreNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "titulosn fotoequipo" "textosn fotoequipo";
  align-items: stretch;
  grid-column-gap: 30px;
  padding: 30px;
  color: rgb(249, 248, 231);
  background-color: #EF7978;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 100px;
}
@media only screen and (max-width: 480px) {
  .SobreNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titulosn" "fotoequipo" "textosn";
    margin: 30px;
    padding: 60px;
    height: inherit;
    text-align: center;
    align-items: center;
  }
}
.SobreNosotros img {
  border-radius: 10% 30% 50% 70%;
  grid-area: fotoequipo;
  justify-self: end;
}
.SobreNosotros p {
  border: 200px;
  grid-area: textosn;
  justify-self: center;
}
.SobreNosotros h1 {
  grid-area: titulosn;
  justify-self: center;
}

/*tratamientos*/
.allcards {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ec7c7c;
  font-weight: 800;
}

.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6 {
  color: #BF5D65;
  font-size: x-large;
  font-weight: 800;
  border: black;
  text-shadow: 0px 1px 14px #BF5D65;
}

.accordion-item {
  color: #364255;
}

.accordion-button {
  color: #ae675b;
  background: rgba(230, 228, 211, 0.1);
}
.accordion-button:hover {
  z-index: 100;
}

.card {
  background: rgba(140, 147, 155, 0.3);
}

.accordion-button:not(.collapsed) {
  color: #364255;
  background: rgba(116, 148, 162, 0.2);
}

.accordion-item {
  background-color: #f6f5e4;
  color: #7494a2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*contacto*/
/*falta formulario*/
.formulario {
  height: 400px;
  background-image: url(../img/backgroundtratamientos.png);
  color: #364255;
  font-family: "Aboreto";
  font-weight: bolder;
  margin-bottom: 100px;
}
.formulario p {
  overflow: hidden;
  padding: 150px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  /*index @media*/
  .SobreNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titulosn" "fotoequipo" "textosn";
    margin: 30px;
    padding: 60px;
    height: inherit;
    text-align: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
