.parallax {
  background-image: url(../img/backgroundpage.png);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 400px;
}

.listanav {
  list-style-type: none;
  border: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Aboreto", cursive;
  color: #fcfcda;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #364255, 0 0 1em #fcfcda, 0 0 0.2em #fcfcda;
}

.nav-link {
  color: #EF7978;
  text-decoration-color: #fcfcda;
}
.nav-link:hover {
  background-color: #364255;
  color: #fcfcda;
  border-radius: 10px;
}

.botonturnos {
  margin-top: 20px;
}

.turnosanimacion {
  background-color: #EF7978;
  border-color: #EF7978;
  font-family: "Aboreto", cursive;
}
.turnosanimacion:hover {
  background-color: #364255;
  border-color: #fcfcda;
  color: #EF7978 !important;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 10px;
}

.turnos {
  color: #364255;
  font-weight: bold;
  text-decoration: none;
}
.turnos:hover {
  color: #EF7978;
}

footer {
  display: flex;
  justify-content: center;
  @import url("https://css.gg/time.css");
}
footer ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #A96DA6;
  margin: 10px;
}
footer ul li {
  display: flex;
  flex-direction: column;
  text-decoration: overline;
  background: rgba(71, 0, 0, 0.1);
  gap: 10px;
  align-items: flex-start;
  padding: 10px;
}
footer iframe {
  height: 200px;
  width: 400px;
}
footer .botonig {
  padding-bottom: 40px;
}
footer .instagram {
  color: #fcfcda;
}
footer .instagram:hover {
  color: #fcfcda;
}
footer .animationig {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-image: url(../img/igbackground.png);
  color: #fcfcda;
  border-radius: 30px;
  font-family: "Aboreto", cursive;
}
footer .animationig:hover {
  box-shadow: 1px 1px 20px 11px #d8ccd8;
  transition: all 0.2s ease;
}
footer .gg-time::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  left: 5px;
}
footer .gg-phone::before {
  width: 20px;
  height: 20px;
  border: 6px double;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  bottom: 2px;
  left: 2px;
}
footer .gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
}

* .carousel-caption {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.SobreNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "titulosn fotoequipo" "textosn fotoequipo";
  align-items: stretch;
  grid-column-gap: 30px;
  padding: 30px;
  color: rgb(249, 248, 231);
  background-color: #EF7978;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 100px;
}
.SobreNosotros img {
  border-radius: 10% 30% 50% 70%;
  grid-area: fotoequipo;
  justify-self: end;
}
.SobreNosotros p {
  border: 200px;
  grid-area: textosn;
  justify-self: center;
}
.SobreNosotros h1 {
  grid-area: titulosn;
  justify-self: center;
}

/*tratamientos*/
.allcards {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ec7c7c;
  font-weight: 600;
}

.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6 {
  color: #BF5D65;
  font-size: x-large;
  font-weight: 800;
  border: black;
  text-align: center;
  font-family: "Aboreto";
  text-shadow: 0px 1px 14px #BF5D65;
}

.accordion-item {
  color: #364255;
}

.accordion-button {
  background: rgba(239, 80, 79, 0.2);
}

.card {
  background: rgba(240, 79, 79, 0.1);
}

.accordion-button:not(.collapsed) {
  color: #364255;
  background: rgba(239, 80, 79, 0.2);
}

/*contacto*/
/*no es la imagen final*/
.formulario {
  background-repeat: no-repeat;
  height: 400px;
  background-image: url(./img/fototemplateformulario.webp);
  background-size: 60%;
  color: #cf6db1;
  font-family: "Aboreto", cursive;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textform . fotoform";
}
.formulario p {
  height: 200px;
  width: 200px;
  overflow: hidden;
  padding-top: 30px;
  grid-area: textform;
}

.formularioEjemplo {
  grid-area: fotoform;
}

/*aca va un formulario al costado*/
@media only screen and (max-width: 480px) {
  /*header @media*/
  header {
    text-align: center;
  }
  .logonav {
    margin-inline-start: auto;
  }
  /*footer @media*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer div {
    justify-content: center;
  }
  /*index @media*/
  .SobreNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titulosn" "fotoequipo" "textosn";
    margin: 30px;
    padding: 60px;
    height: inherit;
    text-align: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
