@import "./base/variables";
@import "./base/extend";
@import "./base/mixin";
@import "./base/maps";
@import "./componentes/global";
@import "./componentes/header";
@import "./componentes/footer";


*{
    margin: 0;
    padding: 0;
}*

/*index*/
.carousel-caption{
    text-shadow: black 0.1em 0.1em 0.2em;
 }

 .section3index{
    margin: 40px;
    

 }
.cardpromo{
    background-color: #e6e4d3 !important;

    
}
.cardproductos{
    background-color: #e6e4d3 !important;
    
}
 .promotitle, .productostitle{
    color: $color-oscuro;
    font-weight: bolder;
    @extend %titulos;
    font-size: larger;
 }
 
 .promotext {
    font-family: $tipografia-secundaria;
    color: #7494a2;
 }
 .productostext{
    font-family: $tipografia-secundaria;
    color: #7494a2;
 }
 
 .btnproductos{
    color: #7494a2 !important;
    background-color: $color-claro;
    border-color: $color-claro !important;
    &:hover{
        background-color: $color-principal;
        color: $color-claro !important;
    }
 }
 .btnpromo {
    color: #7494a2 !important;
    background-color: $color-claro;
    border-color: $color-claro !important;
    &:hover{
        background-color: $color-principal;
        color: $color-claro !important;
 }
 }

 .templateformulario{
    background-color: $color-principal;
    margin: 150px;

    padding: 60px;
    width: fit-content;
    @media only screen and (max-width:480px){
        height: inherit;
    margin: auto;
    }
}
.formulario{ 
    height: 30px;
    color:$color-oscuro;
    font-family: $tipografia-principal;
    font-weight: bolder;
    margin-bottom: 10px;
    @media only screen and (max-width:480px) {
        font-size: small;
        height: auto;

    }
 
 }

.botonenviar{


    color: #7494a2 !important;
    background-color: $color-claro;
    border-color: $color-claro !important;
    &:hover{
        background-color: $color-principal;
        color: $color-claro !important;
    }
}
.formgrid{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "nymail comentarios"
    "botenviar comentarios";
    grid-column-gap: 10px;
    @media only screen and (max-width:480px){
        display: grid;
        grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "nymail"
    "comentarios"
    "botenviar";


    }
}
.formgrid1{
    grid-area: nymail;
}
.formgrid2{
    grid-area: comentarios;
}
.formenviar{
    grid-area: botenviar;
    justify-self: center;
}
.comentspace{
    line-height: 10;
    @media only screen and (max-width:480px){
        line-height: 5;
    }
}

/*tratamientos*/
.allcards{
    font-family: $tipografia-secundaria;
    color: #ec7c7c;
    font-weight: 800;
    
}
.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6{
    color: $color-secundario;
    font-size: x-large;
    font-weight: 800;
    border: black;
    text-shadow: 0px 1px 14px $color-secundario;
    background: rgba(252, 252, 218, 0.4);
    @extend %titulos;
}

.accordion-item{
    color: $color-oscuro;
}
.accordion-button{
    color: #ae675b;
    background: rgba(230,228,211, 0.1);
    &:hover {
        z-index: 100;
    }
}

.card{
    background: rgba(140,147,155, 0.3);
}
.accordion-button:not(.collapsed){
    color: $color-oscuro;
    background:rgba(116,148,162, 0.2);
}

.accordion-item{
    background-color: map-get($map: $tratamientoscards , $key: collapsebg );
    color: map-get($map: $tratamientoscards , $key: collapseColor );
    font-family: $tipografia-secundaria;
}
/*Sobre Nosotros*/
.SobreNosotros{
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "textsn fotoequipo"
    "textsn fotoequipo";
    align-items: stretch;
    grid-column-gap: 10px;
    padding: 50px;
    color: rgb(249, 248, 231);
    background-color: $color-principal;
    font-family: $tipografia-secundaria;
    margin: 80px;
    @media only screen and (max-width:480px){
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "fotoequipo"
    "textsn";
    margin: 20px;
    padding: 15px;
    height: auto;
    text-align: center;
    align-items: center;
    }
img{
        border-radius: 10% 30% 50% 70%;
        grid-area: fotoequipo;
        height: 350px;
        justify-self: center;
        padding: 15px;  
        }

.textoSN{
    grid-area: textsn;
    h1{
      margin-top: 2,5rem;
      margin-bottom: 3rem;
      text-align: center;
    }
    p{
      
        
        &::first-letter{
            font-size: 25px;
          }
        }
    h4{
      text-align: center;
      margin-top: 30px;
    }
}

   
}

.personalchika{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    gap: 50px;
}
.flip-container {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin:0 auto;
  }
  
  .card1 {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
  
  .card1 h3, .card1 p {
    display: inline-flex; 
    font-family: $tipografia-principal;
    font-size: larger;
  } 
  
  .card1 p { 
    color: $color-principal; 
    font-family: $tipografia-principal;
  }
  
  /* GIRA HORIZONTAL */
  .flip-container:hover .card1 {
    transform: rotateY(180deg);
  }
  
  
  
  
  .claucard{
    background-image: url(../img/claustaff.jpg);
    background-repeat: round;
  }
  .staff1card{
    background-image: url(../img/staff1.jpg);
    background-repeat: round;
  }
  .staff2card{
    background-image: url(../img/staff2.jpg);
    background-repeat: round;
  }
  .staff3card{
    background-image: url(../img/staff3.jpg);
    background-repeat: round;
  }
  .staff4card{
    background-image: url(../img/staff4.jpg);
    background-repeat: round;
  }
  .calacard{
    background-image: url(../img/calastaff.jpeg);
    background-repeat: round;
  }
  .frenteclau, .frentestaff1, .frentestaff2, .frentestaff3, .frentestaff4, .frentecala, .dorso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    
  }
  
  .frenteclau, .frentestaff1, .frentestaff2, .frentestaff3, .frentestaff4, .frentecala {
    
    color: #fff;
    display: flex;
  }
  
  .dorso {
    background-color: $color-claro;
    color: $color-oscuro;
    border-radius: 200px;
    border-color: $color-principal;
    transform: rotateY(180deg);
    text-align:center;
    padding: 40px;
  }
  
  .dorso p {
    font-size:0.80em;
    font-family: $tipografia-secundaria;
    text-align: justify;
    
  }
  
 