@import "./base/variables";
@import "./base/extend";
@import "./base/mixin";
@import "./base/maps";
@import "./componentes/global";
@import "./componentes/header";
@import "./componentes/footer";


*{
    margin: 0;
    padding: 0;
}*

/*index*/
.carousel-caption{
    text-shadow: black 0.1em 0.1em 0.2em;
 }

 .section3index{
    margin-top: 30px;

 }
.cardpromo{
    background-color: #e6e4d3 !important
}
.cardproductos{
    background-color: #e6e4d3 !important
}
 .promotitle{
    
    color: $color-oscuro;
    font-weight: bolder;
    @extend %titulos;
 }
 .productostitle{
    color: $color-oscuro;
    font-weight: bolder;
    @extend %titulos;
 }
 .promotext {
    font-family: $tipografia-secundaria;
    color: #7494a2;
 }
 .productostext{
    font-family: $tipografia-secundaria;
    color: #7494a2;
 }
 
 .btnproductos {
    color: #7494a2 !important;
    background-color: $color-claro;
    border-color: $color-claro !important;
    &:hover{
        background-color: $color-principal;
        color: $color-claro !important;
    }
 }
 .btnpromo {
    color: #7494a2 !important;
    background-color: $color-claro;
    border-color: $color-claro !important;
    &:hover{
        background-color: $color-principal;
        color: $color-claro !important;
 }
 }
 .SobreNosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "titulosn fotoequipo"
    "textosn fotoequipo";
    align-items: stretch;
    grid-column-gap: 30px;
    padding: 30px;
    color: rgb(249, 248, 231);
    background-color: $color-principal;
    font-family: $tipografia-secundaria;
    margin: 100px;
    @media only screen and (max-width:480px){
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "titulosn"
    "fotoequipo"
    "textosn";
    margin: 30px;
    padding: 60px;
    height: inherit;
    text-align: center;
    align-items: center;
    }
img{
        border-radius: 10% 30% 50% 70%;
        grid-area: fotoequipo;
        justify-self: end;  
        }
    
p{
        border: 200px;
        grid-area: textosn;
        justify-self: center;
    }
h1{
        grid-area: titulosn;
        justify-self: center;
    
    }

   
}
/*tratamientos*/
.allcards{
    font-family: $tipografia-secundaria;
    color: #ec7c7c;
    font-weight: 800;
    
}
.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6{
    color: $color-secundario;
    font-size: x-large;
    font-weight: 800;
    border: black;
    text-shadow: 0px 1px 14px $color-secundario;
    @extend %titulos;
}

.accordion-item{
    color: $color-oscuro;
}
.accordion-button{
    color: #ae675b;
    background: rgba(230,228,211, 0.1);
    &:hover {
        z-index: 100;
    }
}

.card{
    background: rgba(140,147,155, 0.3);
}
.accordion-button:not(.collapsed){
    color: $color-oscuro;
    background:rgba(116,148,162, 0.2);
}

.accordion-item{
    background-color: map-get($map: $tratamientoscards , $key: collapsebg );
    color: map-get($map: $tratamientoscards , $key: collapseColor );
    font-family: $tipografia-secundaria;
}
/*contacto*/
/*falta formulario*/
.formulario{
    
    height: 400px;
    background-image: url(../img/backgroundtratamientos.png);
    color:$color-oscuro;
    font-family: $tipografia-principal;
    font-weight: bolder;
    margin-bottom: 100px;
    
    
p{
        
        overflow: hidden;
        padding: 150px;
        text-align: center;
        
        
        }
}



   
@media only screen and (max-width:480px){
        
       /*index @media*/
    
    .SobreNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulosn"
        "fotoequipo"
        "textosn";
        margin: 30px;
        padding: 60px;
        height: inherit;
        text-align: center;
        align-items: center
        }
    
    }