@mixin formContacto ($size, $color) {
    font-family: $tipografia-secundaria;
    font-size: $size;
    margin: $size*2;
    padding: $size;
    background-color: $color;
    color: $color-secundario;  
}

