$color-principal:#EF7978;
$color-secundario: #BF5D65;
$color-oscuro: #364255;
$color-claro: rgb(252, 252, 218);
$tipografia-principal:'Aboreto';
$tipografia-secundaria:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;