
footer{
    display: flex;
    justify-content: center;
    background: rgba(71, 0, 0, 0.1);
ul{
        font-family: $tipografia-secundaria;
        color: #a68666;
        margin: 10px;
        font-weight: bolder;
li{
            display: flex;
            flex-direction: column;
            text-decoration: overline;
             gap: 10px;
            align-items: flex-start;
            padding: 10px;
        }   
        
    }
iframe{
    padding-top: 25px;    
    height: 200px;
        width: 400px;
        }


@import url('https://css.gg/time.css');
.gg-time::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 7px;
    height: 7px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    top: 1px;
    left: 5px;
}
.gg-phone::before {
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 2px;
    left: 2px;
 }

 .gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0;
}
}