
.logo{
    width: 400px;
}
.listanav{
    list-style-type: none;
    border: 10px;
    font-size: 20px;
    font-family: $tipografia-principal, cursive;
    color: $color-principal;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 20px #A96DA6, 0 0 1em $color-claro, 0 0 0.2em #fcfcda;
    
    
}
.nav-link{
    color: $color-principal;
    text-decoration-color: $color-secundario;
    
    
&:hover{
        
      color: $color-secundario;
      background: rgba(217,191,170, 0.1);
      border-radius: 30px;
      
    }
}

.botonturnos{
    margin-top: 20px;

} 
.turnosanimacion{
    background-color: $color-principal;
    border-color: $color-principal;
    font-family: $tipografia-principal, cursive;
    &:hover{
        background-color: $color-claro;
        border-color: $color-claro;
        color:$color-principal !important;
        box-shadow: 1px 1px 20px 11px #d8ccd8;
      transition: all 0.2s ease;
        
    }
} 
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
    border-radius: 10px;
}
.turnos{
    color: $color-oscuro;
    font-weight: bold;
    text-decoration: none;
&:hover{
        color: $color-principal;
        
    }
}
